# Object files
*.o
*.ko

# Libraries
# *.lib
*-cache.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Declare files that will always have LF line endings on checkout.
# *.ino text eol=nl
# *.h text eol=nl
# *.cpp text eol=nl
text eol=lf


# Ln Varie
*/build/*
*/.build/*
*/.vscode/*
*/debug/*
*/cache/*
.mplab_ide/*
# *.pdf
*.sublime-workspace
out/*
DOC/*
*/kiCad/*.bak
