# Object files
*.o
*.ko

# Libraries
# *.lib
*-cache.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Ln Varie
*/build/*
*/.build/*
*/debug/*
*/cache/*
.mplab_ide/*
# *.pdf
*.sublime-workspace
out/*
DOC/*